fastapi
uvicorn[standard]
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
groq
tavily-python
beautifulsoup4
praw
youtube-transcript-api
requests
python-dotenv
pydantic